.headerMenuPorPrecio{
    background-image: url(/src/assets/bannerMenuPorPrecio.jpg);
    background-position: 70% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;

}
.mask{
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}
.text-white{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    gap: 10em;
    /* margin: 10em 0;*/
}
.text-white h1{
    font-size: 60px;
    color: white;
}
.headerMenuPorPrecio a{
    color: white;
    font-size: 22px;
}
.headerMenuPorPrecio button{
    border: 1px solid white;
}
.headerMenuPorPrecio button :hover{ 
    background: rgba(255, 255, 255, 0.5);
}   
.headerMenuPorPrecio button :active{ 
    background: rgba(255, 255, 255, 0.5);
} 
.headerMenuPorPrecio a:hover{
    color: white;
    background-color: transparent;
}
.headerMenuPorPrecio a:active{
    font-weight: bold;
}
.cuadro{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 3em 0;
}
.btn-outline-light{
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.5);
    --bs-btn-active-bg: rgba(255, 255, 255, 0.7);
}
section{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: .5em;
}
section h2{
    font-size: 60px;
}
article h3{
    text-decoration: underline;
    color: black;
    font-size: 30px;
    font-weight: 100;
}
article p{
    font-size: 22px;
    text-align: center;
}
.individual{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 50%;
    gap: 1em;
}
@media screen and (max-width: 300px) {
    .individual{
        display: block;
    }
}
@media screen and (min-width: 300px) {
    .individual{
        display: block;
    }
}

@media screen and (min-width: 500px) {
    .individual{
        display: flex;
    }
}
