footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 5em 0 0 0;
}
.card-body{
    display: flex;
    flex-direction: column;
    place-items: center;

}
.card-text{
    text-align: left;
    padding: 0;
    gap: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card-text img{
    width: 63px;
    height: 60px;
}
.ifoFooter{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.copy{
    margin: 0 1em;
}
a svg{
    margin: 0 1em;
    transform: scale(2);
}
a:hover {
    color: black;
    font-weight: bold;
}