.bg-beige{
    font-size: 22px;
    font-family: 'Kalam', cursive;
}
.nav-link{
    color: black;

}
.navbar-collapse {
    gap: 1em;
}
#dropdown-basic-button{
    background: white;
    border: none;
    color: black;
    font-size: 22px;
}